div.gmail
{
	display:flex;
	justify-content: space-around;
	height: 50px;
	margin-top: auto;
	margin-left:85%;




}
div.logo
{
	margin: 100px 100px 50px 100px;
	display: flex;
	justify-content: center;	
}
div.footerF
{
    border: 0.1px grey solid;
    display: flex;
    background-color:#f5edec;
    height:  50px;
    margin-left: -6px;


}
div.footerT
{
	border: 0.1px grey solid;
	background-color:#f5edec;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	margin-left: -6px;
}
div.footerP
{
	border: 1px grey solid;
	display: flex;
	justify-content: space-between;
}
div.footerPP
{
	display: flex;
	justify-content: flex-end;
}
input
{
	width: 10%;
	border: 1px grey solid;
	border-radius: 18px;
	font-size: 1.4em;
	padding: 10px 150px 10px 150px;

	
}
input:hover
{
	box-shadow: 0px 0px 10px grey;
}
input:active
{
	box-shadow: 0px 0px 10px grey;
}
div.recherche
{
	display: flex;
	justify-content: center;
}
div.chance
{
	border-radius: 5px;
	display: flex;
	justify-content: center;
	flex-direction: row;
	margin-top:20px;
}
div.chancee
{
	height: 30px;
    border-radius: 5px;
	display: flex;
	justify-content: space-around;
	margin: 4px 4px 4px 4px;
}
div.chance1
{
	display:flex;
	justify-content: space-between;
	background-color:#f5edec;
	align-items: center;
	margin-right: 50px;
	padding: 10px 10px 10px 10px
}	
div.chance2
{
	display: flex;
	height: 30px;
    background-color:#f5edec;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;





}
div.espace
{
	height: 460px;
}
div.chance1:hover
{
	border: 1px black solid;
}
div.chance2:hover
{
	border: 1px black solid;
}
a
{
	text-decoration-line: none;
}
body
{
	font-family: arial
}
div.gmail1
{
	margin-top:10px;
}